html {
    scroll-behavior: smooth;
    /* makes animation not extend the browser horitzontally */
    overflow-x: hidden;
    text-align: center;
    color: white;
    background-color: #222692;
    font-family: 'Times New Roman', Times, serif;
    background-image: none;
    width: 960px;
    margin: 0 auto;
    background-color: black;
    }



#navigationbar {
    background-image: linear-gradient(black, #86c232);
    text-align: left;
    font-size: x-large;
    width: 100%;
    animation: slideIn 2s ease-in;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


h3 {
    color: #86c232;
}

h1 {
    color: #86c232;
}

.navheader { 
    color: white;
    padding: 8px 20px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    }

    
.navheader:hover { 
    cursor: pointer;
    color: black;

    }


#my-name {
    font-size: xx-large;
}

#message {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.form-popup {
    display: none;
    text-align: center;
    z-index: 9;
}


#wrapper {
    position: fixed;
    bottom: 0;
    right: 20px;
    margin-bottom: 40px; 
    z-index: 10;
}

#open-contact-form-button {
    background-color: #86c232;
    color: white;
    border-radius: 12px;
    padding: 8px 20px;
}

#open-contact-form-button:hover {
    cursor: pointer;
    background-color: #61892f;
    box-shadow: none;
}


 .open-button {
    animation: SlideInRight 2s ease-in;
}

@keyframes SlideInRight{
    
from {
    transform: translateX(300px);

}

to {
    transform: translateX(0);

}}

#contact-form-container {
    text-align: center;
}

#linkedin-wrapper {
    position: absolute;
    top: 0;
    right: 10px;
}


#about-section {
    width: 50%;
    float: right;
    margin-right: 20px;


}

#name-and-about {
    background-color: #474b4f;
}


footer {
    bottom: 0;
    text-align: center;
}

#slideshow {
    position: relative;
    text-align: center;
    color: white;
}

#contact {
    text-decoration: underline;
}

#slideshow img{
    height: 340px; 
    border: 2px solid #86c232;
    margin: 20px;
    width: 240px;
}

#slideshow img:hover {
    opacity: .5;
    
}

#link-color {
    color: orange;
}


#wrapping-about-slideshow {
    display: flex;
    justify-content: center;

}

#github-section-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#github-logo {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

#github-logo img {
    width: 100%;
    height: 100%;
}

#github-content {
    text-align: center;
    margin-right: 120px;
    width: 350px;
    padding-left: 20px;;
}

#github-content h1 {
    margin-bottom: 10px;
}

.open-button {
    background-color: #86c232;
    color: white;
    padding: 16px 20px;
    border: 2px solid orange;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 160px;
  }
  
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid orange;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    width: 300px; /* Set a fixed width for the form container */
    margin: 0 auto; /* Center the form container horizontally */
    padding: 10px;
    background-color: #6b6e70;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    color: white;
    background: #474b4f;
    box-sizing: border-box;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=text]:focus {
    background-color: #474b4f;
    color: white;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #86c232;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: #6b6e70;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  
.white-text { /* portfolio color */
    color: #86c232;
   
}

.white-intro {
    color:  white;
}

#Typing_Video {
    position: fixed; 
    right: 0;
    bottom: 0; 
    min-width: 100%; 
    z-index: -1; 
}


